#nav {
	background: #ff0000 url(../images/nav-red.png) repeat-x 0 0;
	border-top:1px solid #C51112;
}


#nav .current_page_item a, #nav .current_page_item a:hover, #nav li a:active, #nav .current_page_ancestor{
	background:#ff0000 url(../images/nav-red.png) repeat-x 0 -70px;
}
 #nav li a:hover{
	background:#AF0404 url(../images/nav-red.png) repeat-x 0 -35px;
}
#nav li a:active{
	color:#ddd;
	background:#AF0404 url(../images/nav-red.png) repeat-x 0 -70px;
}


#feature{
	background: #000 url(../images/featurebg-red.jpg) no-repeat 0 0;
}


#feature #feature-footer.number_nav #featurenav a{
	border: 1px solid #AF0404;
	background: #AF0404;
	color: #fff;
}
#feature #feature-footer.number_nav #featurenav a.activeSlide{
	background: transparent;
}
.fcontent .fsub {color: #fff;}


#maincontent #highlight {
	
	background: #380000 url(../images/highlightbg_red.png) repeat-x 0 0;
	border-top: 1px solid #AF0404;
	border-bottom: 1px solid #000;

}

#welcome {
	background:#820000 url(../images/welcomebg-red.png) repeat-x top left;
	color: #fff;
	text-shadow: #222 0px 0px 1px;
}
#welcome .greeting {border-bottom: 1px solid #AF0404;}
#welcome .welcometext {color:#fff;}

.post-date em {
	background: #eee;
	color: #000;
}
.post-date em a{
	color: #AF0404;
}

a,.commentlist cite,.commentlist cite a, #sub_head #subnav .current_page_item a, #grandchildnav .current_page_item a, .headline h1 a:hover{color:#AF0404;}